@page
@inject ISharedResource _sharedResource
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1 class="display-1">@_sharedResource["Greeting"]</h1>
<h4 class="display-4">@_sharedResource["_language"]</h4>

<h1 class="display-1">Database</h1>
<ul class="d-inline-block">
    @foreach (var item in Model.AModels)
    {
        <li>@item.Name - @item.CreationTime - @item.Language</li>
    }
</ul>
